<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <!-- Chate Messages -->
      <app-chat-message text="Que quieres traducir?" />

      @for (message of messages(); track $index) { @if (message.isGpt) {
      <app-chat-message [text]="message.text" />
      }@else {
      <app-my-message [text]="message.text" />
      } } @if (isLoading()) {
      <app-typing-loader />
      }
    </div>
  </div>
  <app-text-message-box-select
    [options]="[
      { id: 'alemán', text: 'Alemán' },
      { id: 'árabe', text: 'Árabe' },
      { id: 'bengalí', text: 'Bengalí' },
      { id: 'francés', text: 'Francés' },
      { id: 'hindi', text: 'Hindi' },
      { id: 'inglés', text: 'Inglés' },
      { id: 'japonés', text: 'Japonés' },
      { id: 'mandarín', text: 'Mandarín' },
      { id: 'portugués', text: 'Portugués' },
      { id: 'ruso', text: 'Ruso' }
    ]"
    placeholder="Type here what you want to confirm"
    (onMessage)="handleMessageWithSelect($event)"
  />

  <!-- Message Box -->
</div>
